.form-control {
  background-color: white;
  background-image: none !important;

  &:focus {
    box-shadow: none;
    border-color: $color-primary;
  }

}

::v-deep {
  .custom-control-input:checked~.custom-control-label::before {
    background: $color-primary;
    border-color: $color-primary;
    box-shadow: none;
  }


  .custom-control {
    &:lang(ar) {

      padding-right: 1.5rem;
    }
  }

  :lang(ar) {
    .custom-control-label {
      &::before {
        right: -1.5rem;
        left: unset;
      }

      &::after {
        right: -1.5rem;
        left: unset;
      }
    }
  }
}