html {
  @media screen and (max-width: 1200px) {
    font-size: 14px !important;
  }
  @media screen and (max-width: 768px) {
    font-size: 12px !important;
  }
}

body {
  overflow-x: hidden;
}

.btn {
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}
