html {
  @media screen and (max-width: 1200px) {
    font-size: 14px !important;
  }
  @media screen and (max-width: 768px) {
    font-size: 12px !important;
  }
}

body {
  overflow-x: hidden;
}

.btn {
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.custom-table {
  table {
    border-spacing: 0px 8px;
    border-collapse: separate;

    th {
      font-weight: 600;
      font-size: 12px;
      color: $color-white !important;
      border: 0 !important;
      background-color: transparent !important;
      background: none !important;
      text-align: center;
    }

    thead {
      tr {
        background: none !important;
      }
    }
    tr {
      border-radius: 6px;
      background: linear-gradient(25deg, #41166b 0%, #713ba8 100%);
    }

    td {
      text-align: center;
      color: $color-white !important;
      vertical-align: middle;
      border-top: 0;
      // background: #FBFBFB;
      // border-radius: 6px;
      min-width: 100px;
    }
  }

  .table.b-table > thead > tr > [aria-sort]:not(.b-table-sort-icon-left),
  .table.b-table > tfoot > tr > [aria-sort]:not(.b-table-sort-icon-left) {
    background-position: left calc(0.75rem / 2) center;
    padding-left: calc(0.75rem + 0.65em);
  }

  &:lang(ar) {
    .table.b-table > thead > tr > [aria-sort]:not(.b-table-sort-icon-left),
    .table.b-table > tfoot > tr > [aria-sort]:not(.b-table-sort-icon-left) {
      background-position: right calc(0.75rem / 2) center;
    }
  }
}
