$color-primary: #532680;
$color-secondary: #F8F1FF;
$color-orange: #F2815B;
$color-orange-light: #f9efec;
$color-text-primary: #4A494A;
$color-text-secondary: #B3B4B8;
$color-white: #FFFFFF;
$color-cool-grey-card: #EBEAED;
$color-cool-grey-section: #F9F9FA;
