$color-primary: #532680;
$color-secondary: #f8f1ff;
$color-orange: #f2815b;
$color-orange-light: #f9efec;
$color-text-primary: #4a494a;
$color-text-secondary: #b3b4b8;
$color-white: #ffffff;
$color-cool-grey-card: #ebeaed;
$color-cool-grey-section: #f9f9fa;
$color-invalid: #dc3545;
$color-input-border: #dbdbdb;
$color-border: #a88fc2;
$color-up: #0ecb81;
$color-down: #b7214a;
