.custom-pagination {
  ::v-deep {
    button {
      border: none;
    }

    .page-link {
      border-radius: 0.25rem !important;
      border: none;
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1.067rem;
      color: #1f2738;
      background-color: transparent;
    }

    li.page-item {
      &:first-of-type,
      &:last-of-type {
        span,
        button {
          background-color: transparent;
          color: #789ac1;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 0.25;
        }
      }
    }

    .page-item.active .page-link {
      // background-color: $color-purple;
      // border-color: $color-purple;
      color: #ffffff;
    }
  }
}
