.custom-pagination {
  ::v-deep {
    button {
      border: none;
    }

    .page-link {
      border-radius: 0.25rem !important;
      border: none;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.25rem;
      color: $color-text-secondary;
      background-color: transparent;
      margin: 0 0.3rem;
    }

    li.page-item {
      &:first-of-type,
      &:last-of-type {
        span,
        button {
          background-color: transparent;
          color: $color-text-primary;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1rem;
        }
      }
    }

    .page-item.active .page-link {
      background-color: $color-primary;
      color: $color-white;
      padding: 0.438rem 0.764rem 0.5rem;
    }

    .page-item.disabled {
      .page-link {
        color: $color-text-secondary;
      }
    }
  }
}
