.hero-section {
  .text-container {
    padding-top: 13rem;
    padding-right: 13rem;

    &:lang(en) {
      padding-right: unset;
      padding-left: 13rem;
    }

    
    @media (max-width: 1400px) {
      padding-right: 9rem;
      &:lang(en) {
        padding-right: unset;
        padding-left: 9rem;
      }
    }
    
    @media (max-width: 1200px) {
      padding-right: 3rem;
      &:lang(en) {
        padding-right: unset;
        padding-left: 3rem;
      }
    }

    @media (max-width: 992px) {
      padding-top: 5rem;
    }

    h1 {
      color: $color-primary;
      font-weight: 700;
    }
    p {
      margin: 0;
      &.bold {
        font-weight: 700;
      }
    }
  }
  .img-container {
    position: relative;
    img {
      width: 100%;
    }
    .mask {
      // width: 150%;
      height: 8.5rem;
      position: absolute;
      bottom: 0;
      background-color: white;
    }
  }

  &:lang(ar) {
    .img-container {
      img {
        transform: scaleX(-1);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    .img-container {
      img {
        width: 100%;
      }
    }
  }
}
