.article {
  ::v-deep {
    .card {
      border-radius: 0 0 1rem 1rem;
      border: 1px solid $color-cool-grey-section;
      background: $color-white;
      text-align: right;
      
      &:lang(en) {
          text-align: left;

      }

      &:hover {
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
      }
    }

    .card-img-top {
        height: 13.714rem;
    }
.card-header {
    padding: 1rem 1.5rem 0;
    background-color: transparent;
    border-bottom: none;
}

.card-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: $color-text-primary;
    margin: 0;
}

.card-text {
    font-weight: 400;
    color: $color-text-secondary;
    line-height: 1.25;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    
    p {
        margin-bottom: 0;
        color: $color-text-primary;
        margin-top: 1rem;
    }
}

  }

  &__tags {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  &__tag {
    background: rgba(83, 38, 128, 0.08);
    border-radius: 0.125rem;
    width: fit-content;
    margin-left: 0.296rem;
    padding: 0.125rem 0.541rem 0.188rem 0.473rem;

    &:lang(en) {
      margin-left: unset;
      margin-right: 0.296rem;
      padding: 0.125rem 0.473rem 0.188rem 0.541rem;
    }

    span {
      display: inline-block;
      font-weight: 400;
      color: $color-primary;
    }
  }
}
